# Basura de entorno local
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.swo
.DS_Store
.venv
.git
.mypy_cache/
.pytest_cache/
.tmp*

# Carpetas pesadas
~/data/
protein_information_system/~/data/
data/
logs/
docs/build/
docs/source/_static/
docs/source/deployment/
docs/source/tasks/
docs/source/operation/

# Git y editor
.git/
.idea/
.vscode/
coverage.xml
htmlcov/
.cache/
.tox/

# Tests y notebooks (si no necesarios en prod)
tests/
*.ipynb
